<p>Dear {{name}},</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thank you for taking the time to provide feedback on our website. We value your opinions and are committed to making changes that will positively impact our community.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We understand that there may be areas where we need to improve and we are committed to taking the necessary steps to address them. We strive to provide the community with the best possible service and your feedback will help us achieve that goal. We appreciate your support and look forward to continuing to serve you in the future.</p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In case you have any further feedback, suggestions or concerns please feel free to reach out to us. We are always open to hearing from our community and are committed to addressing any issues that may arise in a timely and efficient manner. Thank you again for taking the time to provide your valuable feedback.</p>
<p></p>
<p></p>
Sincerely,

Friends of Rose Lin
info@friendsofroselin.com